*.iml
gradlew
gradlew.bat
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/app/build
/app/src/androidTest
/app/src/test
/openCVLibrary320/build
/openCVTutorial1CameraPreview/build